// Color Variables
$primaryColor: #8701CF;
$secondaryColor: #FF7B29;
$whiteColor: #FFFFFF; 

// Fonts Variables
$fontFamily: 'Poppins', sans-serif;
$textWeight: 400;
$titleWeight: 800;

// Media Variables
$xxl: '(max-width: 1400px)';
$xl: '(max-width: 1200px)';
$lg: '(max-width: 992px)';
$md: '(max-width: 767px)';
$sm: '(max-width: 600px)';